nav{
    height: 60px;
    width: 100%;
  }
  .nav-button {
    height: 30px;
    width: 50px;
    margin: 0px 15px 0px 5px;
  }

  .button-img {
  height: 60px;
  width: 60px;
  position: absolute;
  top: -10%; 
  left: 10%;
  z-index: 10;
  transform: rotate(0deg); 
  opacity: 0; 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.nav-item {
  position: relative;
}

.nav-item:hover .button-img {
  opacity: 1; 
  transform: rotate(180deg); 
}