nav{
    height: 60px;
    width: 100%;
    top: -1px;
    padding: 0px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    box-shadow: 0 3px 10px rgba(41, 41, 41, 0.1);
  }
  
  .nav-button {
    height: 30px;
    width: 50px;
    margin: 0px 15px 0px 5px;
    border: 0;
  }

  .button-img {
  border: 0 solid white;
  height: 60px;
  width: 60px;
  position: absolute;
  top: -10%; 
  left: 10%;
  z-index: 10;
  transform: rotate(0deg); 
  opacity: 0; 
  transition: opacity 0.5s ease, transform 0.5s ease; 
  
}

.nav-item {
  position: relative;
}

.nav-item:hover .button-img {
  opacity: 1; 
  transform: rotate(180deg); 
}
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  opacity: 1;
  /* background-color: #ffffff;  */
}